
.MainPageContainer{
    --borderClassic: 1px rgba(255, 255, 255, 0) solid;
    width: 90%;
    display: flex;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-direction: column;
}


.MainPageContainer h1{
   font-size: 29px;
}

.HrFade{
    width: 100%;
    -webkit-mask: 
    linear-gradient(to left, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0) 99%), 
    linear-gradient(to right, rgba(255, 255, 255, 1) 80%, rgba(0, 0, 0, 0) 99%);
    mask-composite: intersect;
}

.SkillsSummary{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--borderClassic);
    gap:10px;
}

.SkillsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Technology{
    width: fit-content;
    display: flex;
    width: fit-content;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    color:rgb(151, 152, 254);
    font-size: 10px;
}

.TechnologyContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    row-gap: 0px;
    flex-wrap: wrap;
}

.TechnologyEntry{
   flex-shrink: 1;
   font-size: 13px;
   width: 90px;
   color:gray;
}

.Technology h1{
    font-size: 25px;
    width: fit-content;    
}

.About {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.About h1{
    border-bottom: var(--borderClassic);
}

.ProjectsMainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.ProjectsMainContainer h1{
    border-bottom: var(--borderClassic);
}