.ImageSliderContainer{
    overflow: hidden;
    height: fit-content;
    position: relative;
    background-color: rgb(53, 53, 53);
    border-radius: 25px;
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    flex-direction: column;
    --ImageSize: 95%;
    background-color: rgb(21, 21, 21);
    border: 1px rgba(255, 255, 255, 0.3) solid;
}

.Images{
    width: 100%;
    aspect-ratio: 1/0.56;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.ImageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 2px;
}

.Image{
    pointer-events: none;
    width: var(--ImageSize);
    height: var(--ImageSize);
    overflow: hidden;
    border-radius: 15px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
}

.Image img{ 
    width: 100%;
    height: 100%;
}

.PreviewContainer{
    width: var(--ImageSize);
    aspect-ratio: 1/0.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.PreviewContainer .PreviewImageContainer{
    width: 20%;
    transition: 0.5s ease;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-image: url("/Selected.png");
    background-position:center;
    background-size: 89% 89%;
    background-repeat: no-repeat;
}

.PreviewImageContainer{
    --ease: cubic-bezier(0.075, 0.82, 0.165, 0.8);
}

.PreviewImageContainer .Image{
    width: 100%;
    aspect-ratio: 1/0.56;
    border: rgba(255, 255, 255, 0.4) 0.1px solid;
    transition: 0.5s var(--ease);
    pointer-events: all;
    border-radius: 0px;
    cursor: pointer;
}

.PreviewImageContainer .ActiveImage{
    width: 100%;
    aspect-ratio: 1/0.56;
    border-radius: 0px;
    scale: 0.7;
    border: rgb(18, 18, 18) 0.2px solid;
    transition: 0.5s var(--ease);
    pointer-events: all;
    cursor: pointer;
}

.PreviewImageContainer .LastImage{
    width: 100%;
    aspect-ratio: 1/0.56;
    border: rgba(255, 255, 255, 0.4) 0.1px solid;
    transition: 0.5s var(--ease);
    pointer-events: all;
    cursor: pointer;
    filter: saturate(0) brightness(0.7);
    position: relative;
}

.PreviewImageContainer .ActiveLastImage{
    width: 100%;
    aspect-ratio: 1/0.56;
    border: rgba(255, 255, 255, 0.4) 0.1px solid;
    transition: 0.5s var(--ease);
    pointer-events: all;
    cursor: pointer;
    filter: saturate(0) brightness(0.7);
    position: relative;
    scale: 0.7;
}

.PreviewImageContainer p{
   position: absolute;
   font-size: 15px;
}

.Controllers{
    position: absolute;
    width: 89%;
    margin-top: -15%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;   

}

.Controllers button{
    pointer-events:stroke;
    cursor: pointer;
    border: rgba(255, 255, 255, 0.499) 1px solid;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    color: rgba(255, 255, 255, 0.53);
    background-color: rgba(2, 2, 2, 0.429);
}