.ProjectSearchBar{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.ProjectsContainer{
    background-color: rgb(21, 21, 21);
    box-sizing: border-box;
    padding: 25px 25px;
    border-radius: 25px;
    border: 1px rgb(76, 76, 76) solid;
}

.ProjectSearchBar input{
    width: 100%;
    border: 1px rgb(76, 76, 76) solid;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 10px 15px; 
    color:white;
}

.Projects{
    overflow: auto;
    background-color: rgb(28, 28, 28);
    display: flex;
    border: 1px rgb(76, 76, 76) solid;
    flex-direction: column;
    gap:30px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
}

.Info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}