.WebsitelinkContainer {
    --Width: 100%;
    width: var(--Width);
    display: flex;
    min-height: 120px;
    background-color: rgb(21, 21, 21);
    border-radius: 20px;
    flex-direction: column;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    box-sizing: border-box;
    position: relative;
    gap: 20px;
    padding: 15px;
    transition: 0.25s ease;
}

.Top{
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}

.LeftTop{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.LeftTop h2{
    margin: 0;
    transition: 0.25s ease;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeftTop h2::before{
    font-size: 0px;
    content: "> ";
    transition: 0.25s ease;
}

.LeftBottom{
    height: 70%;
}

.LeftBottom p{
    margin: 0;
    color:gray  
}

.Bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
}

.Logo{
    width: 30px;
    background-color: rgba(255, 255, 255, 0.618);
    border-radius: 5px;
    padding: 5px;
    border: 1px rgba(255, 255, 255, 0.452) solid;
    box-sizing: border-box;
    transition: 0.25s ease;
    filter:brightness(0.8);
}

.WebsitelinkContainer:hover{
    scale: 1.02;
    border: 1px rgb(149, 0, 255) solid;
}

.WebsitelinkContainer:hover .LeftTop h2{ 
    color:rgb(200, 90, 255);
    gap:5px; 
}

.WebsitelinkContainer:hover .LeftTop h2::before{ 
    color:rgb(200, 90, 255);
    content: "> ";
    font-size: 20px;
}

.WebsitelinkContainer:hover .Logo{ 
    padding: 2px;
    background-color: rgba(199, 124, 236, 0.531);
    filter:brightness(1);

}

.WebsitelinkContainer:hover .Right img{
    filter:saturate(1);
    rotate: 2deg;
    scale: 1.1;
    transform: translateX(-5px);
}