.root {
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MainContainer{
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body,html{
  --defaultbackground: rgb(16, 16, 16);
  width: 100%;
  font-family: Helvetica;
  display: flex;
  color: white;
  background-color: var(--defaultbackground);
  justify-content: center;
  min-height: 100%;
  margin: 0;
}


