@font-face {
  font-family: 'CONSOLA';
  src: url('/CONSOLA.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'CONSOLA';
  src: url('/CONSOLA.TTF') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'CONSOLA';
  src: url('/CONSOLAB.TTF') format('truetype');
  font-weight: 700; 
}



:root {
  font-family: Consola;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ff0000;
  scrollbar-width:none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(27, 27, 27);
  scrollbar-width: none;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  scroll-behavior: smooth;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}



